* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vw;
  color: #FFFFFF;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161618;
  font-family: 'Space Grotesk', sans-serif;
}