* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: #FFFFFF;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}